/* リセットスタイルや、グローバルに適用したい基本的なスタイルのみを残す */

/* ブラウザ間の差異を減らすための基本的なリセット */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* フォントのスムージングを有効にする */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* コードブロックのフォントを設定 */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* スクロール時のヘッダー固定のための調整 */
html {
  scroll-padding-top: 100px; /* ヘッダーの高さ + 余分なスペース */
  scroll-behavior: smooth; /* スクロールをスムーズにする */
}

/* その他のグローバルスタイル */
/* 例: リンクの下線を削除 */
a {
  text-decoration: none;
}

/* 例: リストスタイルを削除 */
ul, ol {
  list-style: none;
}

/* 必要に応じて、他のグローバルスタイルを追加 */
h2 {
  padding-top: 20px;
}